.body{ 
    background-image: url("https://i.pinimg.com/originals/e3/c9/81/e3c981eaecc318276b6f91adce275db2.jpg");
    background-position: center;
    background-size: cover;
}
#canvas{
    background-color: bisque;
}